@page
@model awkward.ui.Pages.Entities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Entity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Content)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Medium)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Medium)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Created)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Created)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Modified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Modified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Entity.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Entity.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
