@page
@model awkward.ui.Pages.LeaderboardModel
@{
    ViewData["Title"] = "Leaderboard";
}

<h2>Leaderboard</h2>

<form method="post">
    <select onchange="this.form.submit()" asp-for="Grade" asp-items="Html.GetEnumSelectList<awkward.api.Models.Static.Enumerations.Grade>()">
        <option selected="selected" value="">Any</option>
    </select>

    <select onchange="this.form.submit()" asp-for="Category" asp-items="Html.GetEnumSelectList<awkward.api.Models.Static.Enumerations.Category>()">
        <option selected="selected" value="">Any</option>
    </select>

    <select onchange="this.form.submit()" asp-for="Medium" asp-items="Html.GetEnumSelectList<awkward.api.Models.Static.Enumerations.Medium>()">
        <option selected="selected" value="">Any</option>
    </select>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entities[0].Medium)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Entities)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
        </tr>
        }
    </tbody>
</table>
